@page "/Entities/Individuals"

@using VolunteerTracker.Blazor.Services
@using VolunteerTracker.Blazor.Components.Shared.Element;
@using VolunteerTracker.Blazor.Models
@using VolunteerTracker.Blazor.Utilities
@using VolunteerTracker.Common

<h3 class="mt-2">Individuals <VTButtonAddSimple ContainerClass="ms-2 mb-2 flex d-inline" @onclick="async () => await EditModal(null)"></VTButtonAddSimple></h3>

<Grid @ref="_dataGrid" TItem="IndividualGridModel"
      Class="table table-hover table-bordered table-striped"
      DataProvider="IndividualProvider"
      AllowFiltering="true"
      AllowPaging="true"
      FiltersRowCssClass="btn-hidden">
    <GridColumn TItem="IndividualGridModel" HeaderText="Actions" Filterable="false" TextNoWrap="true">
        <VTButtonViewSimple ContainerClass="d-inline" OnClick="async () => await ViewModal(context.Id)"></VTButtonViewSimple>
        <VTButtonEditSimple ContainerClass="d-inline" OnClick="async () => await EditModal(context.Id)"></VTButtonEditSimple>
    </GridColumn>
    <GridColumn TItem="IndividualGridModel" PropertyName="@nameof(IndividualGridModel.LastName)" HeaderText="Last Name" FilterOperator="FilterOperator.StartsWith" >
        <b>@context.LastName</b>
    </GridColumn>
    <GridColumn TItem="IndividualGridModel" PropertyName="@nameof(IndividualGridModel.FirstName)" HeaderText="First Name" FilterOperator="FilterOperator.StartsWith">
        <b>@context.FirstName</b>
    </GridColumn>
    <GridColumn TItem="IndividualGridModel" PropertyName="@nameof(IndividualGridModel.Location)" HeaderText="Location" Filterable="false">
        @AddressFormatter.Format(context.Individual.Address)
    </GridColumn>
    <GridColumn TItem="IndividualGridModel" PropertyName="@nameof(IndividualGridModel.Phone)" HeaderText="Phone" FilterOperator="FilterOperator.StartsWith">
        @PhoneNumberFormatter.Format(context.Phone)
    </GridColumn>
    <GridColumn TItem="IndividualGridModel" PropertyName="@nameof(IndividualGridModel.Email)" HeaderText="Email" FilterOperator="FilterOperator.StartsWith">
        @context.Email
    </GridColumn>
</Grid>

<Modal @ref="_editModal" Size="ModalSize.ExtraLarge">
</Modal>

@code {
    
    [Inject]
    public IndividualDataProvider IndividualDataProvider { get; set; } = null!;

    [Inject]
    protected PreloadService PreloadService { get; set; } = null!;

    [Inject]
    public PhoneNumberFormatter PhoneNumberFormatter { get; set; } = null!;

    [Inject]
    public AddressFormatter AddressFormatter { get; set; } = null!;

    private List<IndividualGridModel> _models = null!;
    private Modal _editModal = null!;
    private Grid<IndividualGridModel> _dataGrid = null!;

    private async Task EditModal(Guid? id)
    {
        var onCloseCallback = new EventCallback(this, (Func<Task>)CloseModal);
        var parameters = new Dictionary<string, object> { { "IndividualGuid", id! }, { "OnClose", onCloseCallback } };
        await _editModal.ShowAsync<IndividualEdit>(title: "Edit Individual", parameters: parameters);
    }

    private async Task ViewModal(Guid id)
    {
        var onCloseCallback = new EventCallback(this, (Func<Task>)CloseModal);
        var parameters = new Dictionary<string, object?>
        {
            { "Individual", _models.Where(m => m.Individual.Id == id).Select(m => m.Individual).FirstOrDefault() },
            { "OnClose", onCloseCallback }
        };
        await _editModal.ShowAsync<IndividualView>(title: "Individual Details", parameters: parameters);
    }

    private async Task CloseModal()
    {
        await _editModal.HideAsync();
        await _dataGrid.RefreshDataAsync();
    }

    private async Task<GridDataProviderResult<IndividualGridModel>> IndividualProvider(GridDataProviderRequest<IndividualGridModel> request)
    {
        var data = await IndividualDataProvider.Provide(request);
        _models = data.Data?.ToList() ?? [];
        return data;
    }
}