@using VolunteerTracker.Blazor.Components.Shared.Composite
@using VolunteerTracker.Blazor.Components.Shared.Element
@using VolunteerTracker.Repository
@using Microsoft.EntityFrameworkCore
@using VolunteerTracker.Blazor.Utilities
@using VolunteerTracker.Repository.Entities
<div class="container">
    @if (EditContext == null)
    {
        <VTLoading/>
    }
    else
    {
        <EditForm EditContext="@EditContext" OnSubmit="OnSubmitAsync" FormName="Organization">
            <CascadingValue Value="@EditContext"></CascadingValue>
            <AntiforgeryToken/>
            <ObjectGraphDataAnnotationsValidator/>
            <div class="row">
                <div class="col-lg-5 col-md-12 p-3">
                    <VTTextBox Label="Name" @bind-Value="_organization.Name"></VTTextBox>
                    <ValidationMessage For="@(() => _organization.Name)" />
                    <VTTextBox Label="Main Phone" @bind-Value="_organization.MainPhone!.Number"></VTTextBox>
                    <ValidationMessage For="@(() => _organization.MainPhone)" />
                    <VTAddressEdit @bind-Address="_organization.Address"></VTAddressEdit>
                    <VTTextArea Label="Notes" Height="14em" @bind-Value="_organization.Notes"></VTTextArea>
                    <ValidationMessage For="@(() => _organization.Notes)" />
                </div>
                <div class="col-lg-7 col-md-12 p-3">
                    <VTPersonEdit @bind-Person="_organization.Contact"></VTPersonEdit>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-md-2 col-lg-1">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                <div class="col-md-2 col-lg-1">
                    <button type="button" class="btn btn-light" @onclick="CloseAsync">Close</button>
                </div>
            </div>
        </EditForm>
    }
</div>

@code {

    [Parameter]
    public required Guid? OrganizationGuid { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Inject]
    public required IDbContextFactory<VolunteerContext> ContextFactory { get; set; }

    private VolunteerContext? _context;
    public EditContext? EditContext { get; set; }
    private Organization _organization = null!;
    private static readonly Organization OrganizationPlaceholder = Organization.Create();

    protected override async Task OnParametersSetAsync()
    {
        await LoadOrganizationAsync();
        await base.OnParametersSetAsync();
    }

    private async Task LoadOrganizationAsync()
    {
        if (_context != null)
            await _context.DisposeAsync();
        _context = await ContextFactory.CreateDbContextAsync();
        _organization = OrganizationPlaceholder;

        var tempOrganization = OrganizationGuid.HasValue ? 
            await _context.Organizations.Include(x => x.Address).Include(x => x.MainPhone).Include(x => x.Contact).ThenInclude(c => c.Emails).Include(x => x.Contact).ThenInclude(c => c.Phones).FirstAsync(p => p.Id == OrganizationGuid) 
            : Organization.Create();

        //Initialize values for UX then remove if empty on save
        tempOrganization.MainPhone ??= new Phone();
        tempOrganization.Contact ??= new Person();

        _organization = tempOrganization;

        EditContext = new EditContext(_organization);
    }

    private async Task SaveAsync()
    {
        if (!OrganizationGuid.HasValue)
            _context!.Organizations.Add(_organization);

        await _context!.SaveChangesAsync();
        await _context.DisposeAsync();
        EditContext = null;
        await OnClose.InvokeAsync();
    }

    private async Task CloseAsync()
    {
        if (_context != null)
            await _context.DisposeAsync();
        EditContext = null;
        await OnClose.InvokeAsync();
    }

    private async Task OnSubmitAsync(EditContext arg)
    {
        if (Entity.IsEmpty(_organization.MainPhone))
            _organization.MainPhone = null;

        if (Entity.IsEmpty(_organization.Contact))
            _organization.Contact = null;

        if (!arg.Validate())
            return;

        await SaveAsync();
    }

}