@using VolunteerTracker.Blazor.Components.Shared.Element
@using VolunteerTracker.Blazor.Components.Shared.Composite
@using VolunteerTracker.Repository.Entities

<div class="container">
    <EditForm EditContext="@EditContext" OnValidSubmit="OnValidSubmit" FormName="Individual">
        
        <CascadingValue Value="@EditContext"></CascadingValue>
        <AntiforgeryToken/>
        <ObjectGraphDataAnnotationsValidator/>
        <div class="row">
            <VTTextBox Label="Title" Class="col-md-4 col-lg-1 pe-lg-1" @bind-Value="_person.Title"></VTTextBox>
            <VTTextBox Label="First Name" Class="col-md-12 col-lg-2 ps-lg-1 pe-lg-1" @bind-Value="_person.FirstName"></VTTextBox>
            <VTTextBox Label="Middle Name" Class="col-md-12 col-lg-2 ps-lg-1 pe-lg-1 " @bind-Value="_person.MiddleName"></VTTextBox>
            <VTTextBox Label="Last Name" Class="col-md-12 col-lg-2 ps-lg-1 pe-lg-1" @bind-Value="_person.LastName"></VTTextBox>
            <VTTextBox Label="Suffix" Class="col-md-4 col-lg-1 ps-lg-1" @bind-Value="_person.Suffix"></VTTextBox>
            <div class="col-lg-4"></div>
            <ValidationMessage For="@(() => @_person.Title)" />
            <ValidationMessage For="@(() => @_person.FirstName)" />
            <ValidationMessage For="@(() => @_person.MiddleName)" />
            <ValidationMessage For="@(() => @_person.LastName)" />
            <ValidationMessage For="@(() => @_person.Suffix)" />
        </div>

        <div class="row">
            <div class="col-lg-5 col-md-12 p-3">
                <VTAddressEdit @bind-Address="_person.Address"></VTAddressEdit>
            </div>
            <div class="col-lg-7 col-md-12 p-3">
                <VTPhoneEdit @bind-List="_person.Phones"></VTPhoneEdit>
                <VTEmailEdit @bind-List="_person.Emails"></VTEmailEdit>
            </div>
        </div>
        <div class="row">
            <div class="mb-1">
                <div class="form-floating">
                    <textarea id="notes" class="form-control" style="height:7.5em;" placeholder="Notes" @bind="_person.Notes"></textarea>
                    <label for="notes">Notes</label>
                </div>
            </div>
        </div>

        <div class="row py-3">
            <div class="col-md-2 col-lg-1">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <div class="col-md-2 col-lg-1">
                <button type="button" class="btn btn-light" @onclick="Close">Close</button>
            </div>
        </div>
    </EditForm>
</div>