@page "/Persons"
@layout VolunteerTracker.Blazor.Components.Layout.MainLayout
@using VolunteerTracker.Repository.Entities
@using BlazorBootstrap
@using VolunteerTracker.Blazor.Services

@inject PersonsProvider PersonsProvider

<h3>Individuals</h3>

<Grid TItem="Person" AllowFiltering="true" AllowPaging="true"
      Class="table table-hover table-bordered table-striped" DataProvider="PersonsProvider.PersonsDataProvider">
    <GridColumn TItem="Person" PropertyName="@nameof(Person.Title)" HeaderText="Title" FilterOperator="FilterOperator.StartsWith">@context.Title</GridColumn>
    <GridColumn TItem="Person" PropertyName="@nameof(Person.FirstName)" HeaderText="First Name" FilterOperator="FilterOperator.StartsWith">@context.FirstName</GridColumn>
    <GridColumn TItem="Person" PropertyName="@nameof(Person.MiddleName)" HeaderText="Middle Name" FilterOperator="FilterOperator.StartsWith">@context.MiddleName</GridColumn>
    <GridColumn TItem="Person" PropertyName="@nameof(Person.LastName)" HeaderText="Last Name" FilterOperator="FilterOperator.StartsWith">@context.LastName</GridColumn>
    <GridColumn TItem="Person" PropertyName="@nameof(Person.Suffix)" HeaderText="Suffix" FilterOperator="FilterOperator.StartsWith">@context.Suffix</GridColumn>
</Grid>