@page "/individuals"

@using VolunteerTracker.Repository.Entities
@using VolunteerTracker.Blazor.Services

@inject PersonsProvider PersonsProvider

<h3>Individuals</h3>

<Grid TItem="Person"
      Class="table table-hover table-bordered table-striped"
      DataProvider="PersonsProvider.PersonsDataProvider"
      AllowFiltering="true"
      AllowPaging="true"
      AllowSorting="true">
    <GridColumn TItem="Person" PropertyName="@nameof(Person.Title)" SortKeySelector="p => p.Title"  HeaderText="Title" FilterOperator="FilterOperator.StartsWith">
        @context.Title
    </GridColumn>
    <GridColumn TItem="Person" PropertyName="@nameof(Person.FirstName)" SortKeySelector="p => p.FirstName" HeaderText="First Name" FilterOperator="FilterOperator.StartsWith">
        @context.FirstName
    </GridColumn>
    <GridColumn TItem="Person" PropertyName="@nameof(Person.MiddleName)" SortKeySelector="p => p.MiddleName" HeaderText="Middle Name" FilterOperator="FilterOperator.StartsWith">
        @context.MiddleName
    </GridColumn>
    <GridColumn TItem="Person" PropertyName="@nameof(Person.LastName)" SortKeySelector="p => p.LastName" HeaderText="Last Name" FilterOperator="FilterOperator.StartsWith">
        @context.LastName
    </GridColumn>
    <GridColumn TItem="Person" PropertyName="@nameof(Person.Suffix)" SortKeySelector="p => p.Suffix" HeaderText="Suffix" FilterOperator="FilterOperator.StartsWith">
        @context.Suffix
    </GridColumn>
</Grid>