@inherits VTElementBase

<div class="@ContainerClass">
    <div class="form-check">
        <input id="@Id" type="checkbox" class="@($"form-check-input {Class}")" @bind="Value" />
        <label for="@Id" class="form-check-label">@Label</label><br>
    </div>
</div>

@code {
    private bool _value;

    [Parameter]
    public bool Value
    {
        get => _value;
        set
        {
            if (_value == value)
                return;

            ValueChanged.InvokeAsync(value);
            _value = value;
        }
    }

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }

}