@using System.Runtime.InteropServices.JavaScript
@inherits VTElementBase

<div class="@($"d-flex align-items-center {ContainerClass}")">
    <div class="form-check">

        <input @ref="_input" id="@Id" name="@Group" type="radio" class="@($"form-check-input {Class}")" checked="@Value" @onclick="Selected" />
        <label for="@Id" class="form-check-label">@Label</label><br>
    </div>
</div>

@code {
    private bool _value;

    private ElementReference _input;

    [Inject]
    IJSRuntime JSRuntime { get; set; } = null!;

    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public EventCallback OnSelected { get; set; }

    [Parameter]
    public string Group { get; set; }

    //@onclick also handles selected via keyboard
    private async Task Selected()
    {
        await OnSelected.InvokeAsync();
    }

}