@using System.Runtime.InteropServices.JavaScript
@inherits VTComponentBase

<div class="@($"d-flex align-items-center {Class}")">
    <div class="form-check">

        <input @ref="_input" id="@Id" name="@Group" type="radio" class="form-check-input" checked="@Value" @onclick="OnChange" />
        <label for="@Id" class="form-check-label">@Label</label><br>
    </div>
</div>

@code {
    private bool _value;

    private ElementReference _input;

    [Inject]
    IJSRuntime JSRuntime { get; set; } = null!;

    [Parameter]
    public bool Value
    {
        get => _value;
        set
        {
            if (_value == value)
                return;

            _value = value;
            ValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }

    [Parameter]
    public string Group { get; set; }

    private async Task OnChange()
    {
        Value = await JSRuntime.InvokeAsync<bool>("vtIsElementChecked", _input);
    }

}