@inherits VTElementBase

<div class="@($"mb-1 {ContainerClass}")">
    <div class="form-floating">
        <textarea id="@Id" class="@($"form-control {Class}")" style="@($"height:{Height}")" @bind="@Value"></textarea>
        <label for="@Id">@Label</label>
    </div>
</div>

@code{
    private string? _value;

    [Parameter]
    public string? Value
    {
        get => _value;
        set
        {
            if (_value == value)
                return;

            ValueChanged.InvokeAsync(value);
            _value = value;
        }
    }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public string Height { get; set; } = "7.5em";
}