@using VolunteerTracker.Repository.Entities
@using VolunteerTracker.Common.DataAnnotations
@using System.Collections.ObjectModel

<VTBorder Label="Phone">
    @foreach (Phone phone in List)
    {
        <div class="row">
            <VTDropdown Label="Type"
                        Class="col-3 pe-1"
                        Options="_phoneTypes"
                        Value="@phone.Type"
                        ValueChanged="@((string value) => TypeChanged(phone, value))">
            </VTDropdown>
            <VTTextBox Label="Number"
                       InputType="VTTextBox.Type.Tel"
                       Class="col-6 ps-1 pe-1"
                       Value="@phone.Number"
                       ValueChanged="@((string value) => NumberChanged(phone, value))">
            </VTTextBox>
            <VTRadio Label="Main"
                     Group="phonePrimary"
                     Class="col-2 ps-1"
                     Value="@phone.IsPrimary"
                     ValueChanged="@((bool value) => MainChanged(phone, value))">
            </VTRadio>
            <div class="col-1 mb-1 ps-1 d-flex align-items-center ">
                <button type="button" class="btn btn-outline-danger" @onclick="() => DeletePhone(phone.Id)">
                    <i class="bi bi-trash3"></i>
                </button>
            </div>
            <ValidationMessage For="@(() => @phone.Type)"/>
            <ValidationMessage For="@(() => @phone.Number)"/>
            <ValidationMessage For="@(() => @phone.IsPrimary)"/>
        </div>
    }
    <div class="row">
        <div class="col-11 mb-1 pe-1"></div>
        <div class="col-1 mb-1 ps-1">
            <button type="button" class="btn btn-outline-success" @onclick="AddPhone">
                <i class="bi bi-plus-lg"></i>
            </button>
        </div>
    </div>
</VTBorder>