@inherits VTComponentBase

<div class="@($"d-flex align-items-center {Class}")">
    <div class="form-check">
        <input id="@Id" name="@Group" type="radio" class="form-check-input" @bind="Value" />
        <label for="@Id" class="form-check-label">@Label</label><br>
    </div>
</div>

@code {
    private bool _value;

    [Parameter]
    public bool Value
    {
        get => _value;
        set
        {
            if (_value == value)
                return;

            ValueChanged.InvokeAsync(value);
            _value = value;
        }
    }

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }

    [Parameter]
    public string Group { get; set; }

}